* {
    box-sizing: border-box;
  }

.classA {
    font-size: 30px;
}

.body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-height: 100vh;
    margin: 0;
    padding: 0;
}

.header{
    font-size: 20px;
    border: 1px solid red;
}
.main{
    border: 1px solid black;
}
.section1{
    font-size: 10px;
}

.section2{
    font-size: 20px;
}

.sk {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.sk-css3:before {
    content: "\f13c";
}

.sk-codepen:before {
    content: "\f1cb";
}
.footer{
    border: 1px solid red;
}